:root{
--primary-text-color:#757575;
--accent-color:#2196F3;
--head-color: #212121;
--white-color:#FFFFFF;
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body{
 /* padding-top: 80px;  */
background-color: var(--white-color);
color:#757575 ;
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
}
.list{
padding: 0;
margin: 0;
list-style:none;
}
/* Убирает подчёркивание и добавляет стили */
.link-underline{
    
color: var(--primary-text-color);
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height: 1.7;
font-style: normal;
}

/* Задний фон чтобы посмотреть есть пробелы или нет */
.section.shed{
background-color: royalblue;
}
.section.new{
background: #F5F4FA;
}
.section.fuck{
background: #FFFFFF;
}
.information-about-team{
    background: #F5F4FA;  
}
.color-footer{
    background: #2F303A;
}

/*Создание основной палитры -основной текст-(#757575)*/
/*Заголовки у меня цвета:(color: #212121;) h1 цвет(#FFFFFF;),навигация (#212121)*/
/*h1 цвет(#FFFFFF;)*/
/*Цвет текста который описывает картинки (color: #757575;)*/
/*Цвет для раздела "чем мы занимаемся" (color: #FFFFFF;)
/*Для футера цвет (color: #FFFFFF;), а для mail и tel (color: rgba(255, 255, 255, 0.6);*/
/*Цвет синей части лого (color: #2196F3;),для чёрной (color: #000000;)*/
/*Цвет Логотипов клиента и соц.сети (AFB1B8 100%)
/*Акцент (background: #2196F3;)*/

/* Работа с header*/
.container{
margin-left: auto;
margin-right: auto;

padding-left: 15px;
padding-right: 15px;
width: 1200px;
/* outline: 2px solid tomato;  */
}
.container-head{
margin-left: auto;
margin-right: auto;

width: 1230px;
/* outline: 2px solid tomato; */
padding-left: 15px;
padding-right: 15px;
}
.logo{
margin-right: 70px;
font-size: 26px;
line-height: 1.19;

color: var(--accent-color);
font-family: Raleway,cursive;
font-weight: bold;
}
.color-logo{
color: var(--head-color);
}
/* Флекс для навигации */

.site-nav{
display: flex;
}
.site-nav .item  + .item{
margin-left: 50px;
    
}
.navigation{
display: flex;
align-items: center;
}

.site-nav .link{
display: block;
padding-top: 32px;
padding-bottom: 32px;
font-weight: 500;
font-size: 14px;
line-height: 1.14;

color: var(--head-color); 
}
.new-address.item{
 align-items: center;
}
/* Основное выравнивание (номер,адрес, остальная навигация) */
.site-nav .link:hover, 
.site-nav .link:focus{
color: var(--accent-color);
} 
.site-nav .link{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.contact-info{
display: flex;    
}
.text-light:focus, .text-light:hover svg {
fill: #2196F3;
} 
.text-light{
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.text-light svg{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.text-light:focus, 
.text-light:hover{
color: var(--accent-color); 
}
.text-light:focus svg{
fill: #2196F3;
} 
.position{
display: inline-flex; 
align-items: center;  
}
.contact-info svg{
margin-right: 10px;
align-items: center;
fill: #757575;
}
.contact-info .item + .item{
margin-left: 30px;
}
.nav-info{
display: flex;
align-items: center;
}
.nav-info >.contact-info{
margin-left: auto; 
}
/* Герой */
.hero{
max-width: 1600px;
height: 600px;
padding-top:  200px;

margin-left: auto;
margin-right: auto;
align-items: center;

background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4) ),url(../img/Img-headr-opt.jpg);  
background-color:black;
background-size:cover;
background-repeat: no-repeat;
background-position: center;
}

/* Список качеств ( позиционирование) */
.list-qualities{
display: flex;
}
.list-qualities-text{
width: calc((100% - 90px) / 3);
}
.section-qualities{
padding-top: 94px;
padding-bottom: 94px;
}
.list-qualities-text{
min-width: 270px;
margin-right: 30px;
}
.icon-antenna{
background-color: #F5F4FA; 
height: 120px;
border-radius: 4px;
margin-bottom: 30px;
}
.list-qualities div{
justify-content: center;
align-items: center;
display:flex;
}
.list-qualities-text .item + .item{
margin-left: 30px;
}
.list-qualities-text:nth-child(4n){
margin-right: 0;
} 
/* Секция о работе компании (позиционирование) */
.company{
display: flex;
flex-wrap: wrap;
}
.thumb{
position: relative;
/* margin: 10px; */
}
.thumb > h3{
position: absolute;
bottom: 0;
width: 100%;
height: 70px;

display: inline-flex;
align-items: center;
justify-content: center;

color: white;
background: rgba(47, 48, 58, 0.8);
}

.company img {
   display: block;
}  
.company-item{
width: calc((100% - 2 * 30px) / 3 ) ;
margin-right:30px;
}
.company-item:nth-child(3n){
margin-right: 0;
} 
.section-work-company{
padding-bottom: 94px;    
}

/* Информация о команде (позиционирование) */
.position-for-all{
display: flex;
}
.space-top{
padding-top: 94px;
padding-bottom: 94px;
}
.info-team{
box-shadow:
0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.info-team{
width: calc((100% - 30px * 3) / 4);
padding-bottom: 24px;
background-color: #FFFFFF;
text-align: center;
}
.team-social{
display: flex;
justify-content: center;

margin-top: 16px;
padding-right: 32px;
padding-left: 32px;
}
.team-social-item{
justify-content: center;

margin-left: 0px;
margin-top: 0px;
}
.team-social-item:not(:last-child){
margin-right: 10px;

}
.site-nav-yet a{
justify-content: center;
align-items: center;
display:flex;
height: 44px;
width: 44px;
}

.team-social-item .link:hover{
color: var(--accent-color);
}
.info-team:not(:last-child){
margin-right: 30px;
}

.team-social:not(:last-child){
margin-right: 10px;
}
.position-for-all img{
   display: block;
} 
/* эффекты на соц.сети */
.team-social-item{   
fill:  #AFB1B8;
border-radius: 50%;
}
.appearance-social{
fill: #AFB1B8;
width: 20px;
height: 20px;  
}
.team-social-item:hover{  
background-color:var(--accent-color);
}
.team-social-item{
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.team-social-item:hover svg{
fill: #FFFFFF;
}
.team-social-item :focus .appearance-social{
fill: #FFFFFF;
}
.focuse-ligth:focus{
background-color: var(--accent-color);
border-radius: 50%; 
}
.focuse-ligth{
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
/* Постоянные клиенты (позиционирование) */
.clients{
display: flex;
justify-content: center;
justify-content: space-around;
}
.constant-client{
padding-top: 94px;
padding-bottom: 94px;    
}
.clients-logo{
margin-right: 30px;    
}
.clients-logo:nth-child(6n){
margin-right: 0;
} 
.site-nav .link.current{
color: var(--accent-color);
}
.current::after{
content: "";
position: absolute;
display: block;
bottom: 0;
width: 100%;
height: 4px;

background: #2196F3;
border-radius: 2px;
/* opacity: 0; */
/* transform: scaleX(0);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* .current:hover::after{
opacity: 1; 
 transform: scaleX(1); 
} */
a.link.current.link-underline{
position: relative;
display: inline-flex;
justify-content: center;
}
.contact-info .contact-info-color{
color: rgba(255, 255, 255, 0.6);
font-weight: 400;
font-size: 14px;
line-height: 1.18;    
}
/* Эффекты на пост клиенты */
.ya-co, 
.tagline-here, 
.company-icon, 
.foster-peters, 
.brend, 
.company-tagline{
fill:#AFB1B8;
vertical-align: middle;
}
.social-icons-link{
display: inline-flex;
border: 1px solid #AFB1B8;
border-radius: 4px;
width: 170px;
height: 90px;
border-radius: 4px;

outline-color: var(--accent-color);
align-items: center;
justify-content: center;
}
.clients-logo:hover .social-icon,
.social-icons-link:focus .social-icon{
fill: #2196F3;
}
.clients-logo, .social-icon,
.social-icons-link, .social-icon{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
/* .social-icons-link:focus{
outline-color: var(--accent-color);  
} */
 .social-icons-link:hover{
 border: 1px solid #2196F3; 
}
.social-icons-link{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
/* Работа с секциями (заголовки) */
.section-title{
color: var(--head-color);   
font-weight: 700;
font-size: 14px;
line-height: 1.1;
text-transform: uppercase;
letter-spacing: 0.03em;

margin: 0px;
}
/* H3 к именам */
.section-title-info{
margin-top: 30px;
margin-bottom: 0px;
text-align: center;

color: var(--head-color);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
}
/* Основной текст описания кртинок */
.section-title-text{   
font-weight: 400;
font-size: 14px;
line-height: 1.7;

margin-top: 10px;
margin-bottom: 0;
}
/* Название профессий */
.section-title-name{
margin-top: 10px;
margin-bottom: 0px;
text-align: center;

font-weight: 400;
font-size: 16px;
line-height: 1.18;
}

/* Стили основных заголовков */
.section-title-style{
margin-top: 0px;  
margin-bottom: 50px; 

color: var(--head-color);   
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
}
/* Стили для главного заголовка */
.section-hero{
text-align: center;
}

.section-title-hero{
margin-top: 0;
margin-bottom: 30px;

color: var(--white-color);
font-weight: 900;
font-size: 44px;
line-height: 1.363;

letter-spacing: 0.06em;
text-transform: uppercase;
}
.button{
min-width: 200px;
border: 1px solid transparent;
border-radius: 4px;
padding: 10px 32px;
display: inline-block;
height: 50px;

color: var(--white-color);
background-color: var(--accent-color);
text-decoration: none;

letter-spacing: 0.06em;
font-weight: 700;
font-size: 16px;
line-height: 1.87;

align-items: center;
text-align: center;
     
}
/* Футер (позиционирование) */
.contact-info-new{
margin-top: 9px;
}
.detailes{
margin-top: 9px;
}
.location{
margin-top: 20px;
}
.shape-footer{
width: 1170px;
height: 252px;   
padding-top: 60px;
padding-bottom: 60px; 
align-items: baseline; 
}
.contact-info-color:hover{
color: var(--accent-color);
}
.contact-info-color{
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.contact-info-color:focus{
color: var(--accent-color); 
}
.color-footer{
color: var(--white-color);
}
.delete{
margin-right: 0px;
} 
.flex-new{
display: flex;
}
.social{
display: flex;
margin-top: 20px;
}
.social a:hover{
color:var(--accent-color)
}
.social-network:not(:last-child){
margin-right: 10px;
}
.common{
margin-right: 69px;
} 
.button.primary{
padding-top: 10px;
padding-left: 29px;
padding-right: 62px;
    
border: 1px solid transparent;
color: var(--white-color);
background-color: var(--accent-color);
font-weight: 700;
font-size: 16px;
line-height: 1.8;
}
.link-underline-additional{
color: var(--white-color);
text-decoration: none;
font-style: normal;
font-weight: normal;

font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
}
.call-to-act{  
color: #FFFFFF;      
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.style-inst, 
.style-twit, 
.style-face, 
.style-in{
background-size: 20px;
background-color: rgba(255, 255, 255, 0.1);
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
}
.style-inst:hover, 
.style-twit:hover, 
.style-face:hover, 
.style-in:hover{
background-color:var(--accent-color);
}
.style-inst, 
.style-twit, 
.style-face, 
.style-in{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.focus-footer:focus {
border-radius: 50%;   
background-color: #2196F3;
}
 .focus-footer{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
 }
/* Стили backdrop */
.backdrop{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.2);

 opacity: 1;
 /* pointer-events: none; */
 transition:   1s ease-out;
}
.modal{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 

max-width: 581px ;
width: 100%;
height: 581px;
padding: 15px;
background: #FFFFFF;
}

.is-hidden{
opacity: 0;
pointer-events: none;
}

.btn-close {
fill: #000000;
width: 11px;
height: 11px;   
}
.btn-apperance{
position: absolute;
top: 15px;
right: 15px;
 
display: inline-flex;
width: 30px;
height: 30px;
justify-content: center;
align-items: center;
border-radius: 50%;

background: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1); 
cursor: pointer; 
}
