:root{
--primary-text-color:#757575;
--accent-color:#2196F3;
--head-color: #212121;
--white-color:#FFFFFF;
--bg-color:#F5F4FA;

}

html {
box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

body{
background-color: FFFFFF;
color:#757575 ;
font-family: Roboto,sans-serif;
letter-spacing: 0.03em;
}
.list{
padding: 0;
margin: 0;
list-style:none;
}
/* Убирает лишние стили из подвала */
.link-underline{
text-decoration: none;
color: var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: 1.7;
font-style: normal;

}
.text .text-light:focus{
color: var(--accent-color);
}
/* Ховер для телефона и майла */
.text-light:hover{
color: var(--accent-color);
}
.color-abyss{
    background: #2F303A;
}
/*Создание основной палитры -основной текст-(#757575)*/
/*Заголовки у меня цвета:(color: #212121;) h1 цвет(#FFFFFF;),навигация (#212121)*/
/*h1 цвет(#FFFFFF;)*/
/*Цвет текста который описывает картинки (color: #757575;)*/
/*Цвет для раздела "чем мы занимаемся" (color: #FFFFFF;)
/*Для футера цвет (color: #FFFFFF;), а для mail и tel (color: rgba(255, 255, 255, 0.6);*/
/*Цвет синей части лого (color: #2196F3;),для чёрной (color: #000000;)*/
/*Цвет Логотипов клиента и соц.сети (AFB1B8 100%)
/*Акцент (background: #2196F3;)*/

.container{
margin-left: auto;
margin-right: auto;

width: 1200px;
/* outline: 2px solid tomato; */
padding-left: 15px;
padding-right: 15px;
}
.container-head{
margin-left: auto;
margin-right: auto;

width: 1230px;
/* outline: 2px solid tomato; */
padding-left: 15px;
padding-right: 15px;  
}
.logo{
margin-right: 70px;
font-size: 26px;
line-height: 1.19;
  
color: var(--accent-color);
font-family: Raleway,cursive;
font-weight: bold;
}
.color-logo{
    color: var(--head-color);
}
.site-nav .link{
display: block;
padding-top: 32px;
padding-bottom: 32px;

color: var(--head-color); 
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
/* Позиционирование для навигации */
.site-nav{
display: flex;
}
.site-nav .item  + .item{
margin-left: 50px;
    
}
.navigation{
display: flex;
align-items: center;
}
.new-address.item{

align-items: center;
    
}
/* Выравнивание адреса,тел  */
.contact-info{
display: flex; 

}
.contact-info .item + .item{
margin-left: 30px;
}
.nav-info{
display: flex;
align-items: center;
}
.nav-info >.contact-info{
margin-left: auto; 
}
.contact-info svg{
margin-right: 10px;
align-items: center;
fill: #757575;
}
.site-nav .link:hover, 
.site-nav .link:focus{
color: var(--accent-color);
}
.site-nav .link{
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.contact-info{
display: flex;   
}
.text-light:focus, .text-light:hover svg {
fill: #2196F3;
} 
.text-light{
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.text-light:focus, 
.text-light:hover{
color: var(--accent-color); 
}
.text-light:focus svg{
fill: #2196F3;
}
.text-light svg{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.position{
display: inline-flex; 
align-items: center;  
}
/* Выравнивание для кнопок */
.filter{
display: flex;
justify-content: center;
}
.section-main-content{
 padding-top: 94px;
 padding-bottom: 94px;   
}
.filter .filter-bt + .filter-bt{
margin-left: 8px;
}
.list-qualities-text:nth-child(5n){
margin-right: 0;
} 
.site-nav .link:hover, 
.site-nav .link:focus{
color: var(--accent-color);
}
.site-nav .link.current{
position: relative;    
color: var(--accent-color);
}
.current::after{
content: "";
position: absolute;
display: block;
left: 0;
bottom: 0; 
width: 78px;
height: 4px;

background: #2196F3;
border-radius: 2px;   
}
.contact-info .contact-info-color{
color: rgba(255, 255, 255, 0.6);
}
/* Стили для адреса  */
.link-underline-address{
font-style: normal;
text-decoration: none; 
font-weight: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color: var(--white-color); 
}
/* Кнопки фильтрации */
.button-appearance{
background-color:var(--bg-color);
min-width: 73px;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
text-align: center;
letter-spacing: 0.03em;
padding: 6px 22px;
/* margin-bottom: 8px; */

color: var(--head-color);
font-weight: 500;
font-size: 16px;
line-height: 1.6;
font-family: Roboto;

}
/* Добавляет интервал между кнопками и сновным контентом */
.container.maine{
 margin-top: 34px; 
}

/* Фокус для кнопки */
.list .button-appearance:focus,
.list .button-appearance:hover{
color: var(--white-color);
background-color: var(--accent-color);
}
.list .button-appearance{
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Работа с секциями (заголовки) */
.section-title{
color: var(--head-color);
}
.contact-info-color{
font-weight: 400;
}

/* Стили основных заголовков */
.section-title-style{
margin-top: 20px;
margin-bottom: 0;
padding-left: 24px;

color: var(--head-color);   
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
 }
/* Стили для текста технохряк */
.section-title-text{   

font-weight: 400;
font-size: 16px;
line-height: 1.8;
}
/* Стили для текста под картинками */
.section-title-info{
margin-top: 4px;
margin-bottom: 0;
padding-left: 24px;

font-weight: 400;
font-size: 16px;
line-height: 1.8;
}
/* Работа с карточками */
.flex-element{
display: flex;
flex-wrap: wrap;
}

.flex-element img{
display: block;
border: 1px solid #EEEEEE;
}

.flex-border{
display: block;
border: 1px solid #EEEEEE;
padding-bottom: 20px;
}
.flex-element-item{
margin-right: 30px;
margin-bottom: 30px;
box-sizing: border-box;
}
.flex-element-item:nth-child(3n){
margin-right: 0;
} 
.flex-element-item:nth-child(n + 7){
margin-bottom: 0px;
}  
.without-style{   
/* position: relative;     */
display: block;
text-decoration: none; 
color: #757575;
}
.without-style:hover,
.without-style:focus{
box-shadow: 
1px 4px 6px rgba(0,0,0,0.16), 
0px 4px 4px rgba(0,0,0,0.6),
0px 1px 1px rgba(0, 0, 0, 0.12);
}
.img-box{
position: relative;
overflow: hidden;    
}
.box-hover{
position: absolute; 
top: 0;
left: 0;   
width: 100%;
height: 100%;
padding: 63px 24px;
line-height: 1.5;

color: #FFFFFF;
background-color: var(--accent-color); 

transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(+100%);
opacity: 0;
}
.without-style:hover .box-hover{
transform: translateY(0);    
}
.without-style:hover .box-hover{
opacity: 1;
}
.without-style:focus .box-hover{
    transform: translateY(0);    
 }
 .without-style:focus .box-hover{
    opacity: 1;
}
/* Позиционирование подвала */
.contact-info-new{
margin-top: 9px;
}
.detailes{
margin-top: 9px;
}
.location{
margin-top: 20px;
}
.contact-info-color:hover{
color: var(--accent-color);
}
.contact-info-color{
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.contact-info-color:focus{
color: var(--accent-color); 
}
.color-logo-white{
color: var(--white-color);
}
.site-nav-yet a{
display: inline-flex;
height: 44px;
width: 44px;

align-items: center;
justify-content: center;
}
.shape-footer{
width: 1200px;
height: 252px;   
padding-top: 60px;
padding-bottom: 60px;  
}
.flex-new{
display: flex;
align-items: baseline;
}
.social{
display: flex;
align-items: center;
margin-top: 20px;
}
.social a:hover{
color:var(--accent-color)
}
.social-network:not(:last-child){
margin-right: 10px;
}
.common{
align-items: center;
margin-right: 69px;
} 
.button{
color:var(--white-color);
background-color: var(--accent-color);
}
.button.primary{
padding-top: 10px;
padding-left: 29px;
padding-right: 62px;
border-radius: 4px;
border: 1px solid transparent;

font-size: 16px;
line-height: 1.8;

color: var(--white-color);
background-color: var(--accent-color);
font-weight: bold;
}
.call-to-act{
color: #FFFFFF;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
}
.style-inst, 
.style-twit, 
.style-face, 
.style-in{
background-size: 20px;
background-color: rgba(255, 255, 255, 0.1);
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
}
.style-inst:hover, 
.style-twit:hover, 
.style-face:hover, 
.style-in:hover{
background-color:var(--accent-color);
}
.style-inst, 
.style-twit, 
.style-face, 
.style-in{
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.appearance-social{
width: 20px;
height: 20px;  
}
.focus-footer:focus {
border-radius: 50%;    
background-color: #2196F3;
}
.focus-footer{
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);     
}